.Dossier {
  position: relative;
  width: 15vw;
  height: 17vw;

  @media screen and (width < 401px) {
    width: 75vw;
    height: 85vw;
  }

  min-width: 250px;
  min-height: 290px;
  color: #fff;
  cursor: grab;
  overflow: hidden;

  .couverture {
    height: 55%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .info {
    height: 45%;
    padding: 0.75rem;
    h2 {
      font-size: 1.4rem;
      margin: 0;
      font-weight: normal;
      font-family: Roboto Slab;
    }
    p {
      font-size: 0.9rem;
      margin: 0.5rem 0 0 0;
    }
  }

  .tourner, 
  .supprimer,
  .modifier {
    position: absolute;
    cursor: pointer;
    background-color: rgba($color: #444, $alpha: 0.8);
    color: #ccc;
    &:hover {
      background-color: rgba($color: #333, $alpha: 0.4);
    }
  }

  .tourner {
    top: 0.6rem;
    left: 0.6rem;
  }

  .supprimer {
    top: 0.6rem;
    right: 0.6rem;
  }

  .modifier {
    bottom: 0.6rem;
    right: 0.6rem;
  }
}